@{
    ViewBag.Title = "Some Page";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Some Page</h3>
    </header>
</section>